<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/shinyfresh.css" />
    {% if page.title == "portfolio" %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/gallery.css" />{% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% if page.footer %}
    <footer class="centering">
      <div class="linklist">
        &copy; Erin Barry-Dutro 2017 | 
        <a href="https://instagram.com/redhedebd">instagram</a> &bull; <a href="https://shinyfresh.tumblr.com/">tumblr</a>
      </div>
    </footer>
  {% endif %}

  <script src="{{ site.baseurl }}/js/shinyfresh.js"></script>
  {% include analytics.html %}
  </body>
</html>
